@import url("https://fonts.cdnfonts.com/css/netflix-font");

* {
    margin: 0;
    padding: 0;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    color: white;
}

body {
    background-color: black;
}

.main {
    height: 100vh;
    background-image: url("assets/images/background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
}

.box {
    position: absolute;
    top: 0;
    background-color: black;
    opacity: 0.78;
    height: 100vh;
    width: 100vw;
}

nav {
    background: linear-gradient(180deg,
            rgba(0, 0, 0, 0.8000) 0.000%, rgba(0, 0, 0, 0.7889) 8.333%, rgba(0, 0, 0, 0.7556) 16.67%, rgba(0, 0, 0, 0.7000) 25.00%, rgba(0, 0, 0, 0.6222) 33.33%, rgba(0, 0, 0, 0.5222) 41.67%, rgba(0, 0, 0, 0.4000) 50.00%, rgba(0, 0, 0, 0.2778) 58.33%, rgba(0, 0, 0, 0.1778) 66.67%, rgba(0, 0, 0, 0.1000) 75.00%, rgba(0, 0, 0, 0.04444) 83.33%, rgba(0, 0, 0, 0.01111) 91.67%, rgba(0, 0, 0, 0.000) 100.0%);
    display: flex;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    max-width: 85vw;
    height: 60px;
    margin: auto;
}

nav img,
nav button,
nav select {
    position: relative;
    z-index: 1;
}

nav img {
    margin: 0px 30px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px
}

nav button {
    height: 30.4px;
    width: 75.3px;
    border: 0.8px solid red;
    background-color: red;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
}

select {
    border: 2px solid white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    background: none;
    color: white;
    padding: 0px 10px;
    height: 32px;
    padding-left: 34px;
    padding-right: 36px;
    margin-right: 12px;
}

option {
    color: black;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 110px);
    color: white;
    position: relative;
    gap: 20px;
    padding: 0px 2%;
}

.h1 {
    font-weight: 900;
    font-size: 56px;
    line-height: 125%;
    text-align: center;
}

.p {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.h3 {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.email {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

#email {
    height: 24px;
    width: 344.75px;
    padding: 15px;
    font-size: 16px;
    font-weight: 600;
    background: none;
    border: 2px solid white;
    border-radius: 5px;
}

.email-btn {
    background-color: red;
    height: 54.4px;
    width: 211.65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.8px solid red;
    border-radius: 5px;
}

.email-btn>button {
    background-color: red;
    padding-right: 5px;
    font-size: 24px;
    height: 54.4px;
    border: 0px solid red;
    color: white;
}

.seperation {
    height: 40px;
    box-sizing: border-box;
    margin: auto;
    display: flex;
    -webkit-box-align: center;
    border: solid 5px transparent;
    border-image: linear-gradient(to right, rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84%);
    -moz-border-image: -moz-linear-gradient(to right, black, red, black);
    -webkit-border-image: -webkit-linear-gradient(to right, black, red, black);
    border-image-slice: 1;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    border-bottom: none;
    background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
    position: relative;
    top: 0;
}

main {
    height: 50vh;
    background-color: black;
    height: fit-content;
}

.trending {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    gap: 10px
}

.trending>p {
    width: 30vw;
    text-align: left;
    color: white;
    margin: auto;
    font-size: 24px;
    font-weight: 500;
    margin-top: 50px;

}

.menu {
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.menu>select {
    border: 2px solid white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    background: none;
    color: white;
    padding: 0px 10px;
    height: 40px;
    margin-right: 12px;
}

.scroll {
    display: flex;
    margin-top: 15px;
    margin-left: 10vw;
    margin-right: 10vw;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 20px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    height: 320px;
}

.scroll::-webkit-scrollbar {
    display: none;
}

.card {
    padding: 20px;
    width: fit-content;
}

.card>span {
    line-height: 1;
    display: inline-block;
    position: relative;
    left: -20px;
    top: -122px;
    font-size: 100px;
    font-weight: 700;
    color: black;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    text-shadow: 0 0 1.5rem rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
}

.card>img {
    border-radius: 7px;
}

.more-reasons {
    margin: 40px 10vw;
}

.text {
    font-size: 24px;
    font-weight: 500;
    padding: 10px 0px;
}

.reason {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.reason-card {
    background: linear-gradient(149deg, rgb(25, 34, 71) 0%, rgb(33, 14, 23) 96.86%);
    width: 20vw;
    height: 288px;
    border-radius: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.reason-card>div {
    grid-column: 1/4;
}

.heading {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.description {
    font-size: 16px;
    font-weight: 400;
}

.img {
    height: fit-content;
    width: fit-content;
    place-self: end;
    box-sizing: border-box;
}

.faqs {
    margin: auto;
    width: 80vw;
    font-size: 24px;
    font-weight: 500;
}

.faqs>div:first-child {
    margin-bottom: 10px;
}

.Questions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.q {
    width: 80vw;
    background-color: rgb(45, 45, 45);
    display: grid;
    grid-template-columns: 20fr 1fr;
    align-items: center;
}

.q div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.q:hover,
.q:hover div {
    background-color: rgba(128, 128, 128, 0.3);
}

.q>button {
    background-color: inherit;
    border: 0px solid rgb(45, 45, 45);
    font-size: inherit;
    font-weight: 400;
    width: 100%;
    text-align: left;
    padding: 24px;
    grid-column: 1/2;
}

#plus {
    display: inline-block;
    grid-column: 2/3;
}


.ending {
    margin: 100px auto;
}

.msg {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.ending #email {
    width: 40vw;
}

footer {
    width: 80vw;
    margin: auto;
}

.top {
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 50px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 15px;
    margin-bottom: 50px;
}

.grid>a,
.text {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-weight: 400;
}

.text {
    margin-top: 20px;
}

@media screen and (max-width:1280px) {
    .reason {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        ;
    }

    .reason-card {
        width: 38vw;
    }

    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width:960px) {
    .reason {
        display: flex;
        flex-direction: column;
    }


    #plus {
        src: local("assets/images/Plus_standard.svg");
    }

    .reason-card {
        width: 75vw;
    }

    nav {
        max-width: 100vw;
        justify-content: space-between;
    }

    .grid {
        grid-template-columns: 1fr 1fr;
    }

}

@media screen and (max-width:600px) {

    .btn {
        flex-direction: column;
    }

    .email {
        flex-direction: column;
        gap: 10px;
    }

    .phone {
        justify-content: left;
        align-items: start;
        padding-left: 7vw;
    }

    .mail #email {
        width: 76vw !important;
    }

    #email {
        width: 80vw
    }

    .grid {
        grid-template-columns: 1fr;
    }

}

@media screen and (max-width:390px) {

    .content {
        gap: 10px
    }

    .h1 {
        font-size: 48px;
    }

    #email {
        width: 80vw;

    }

    nav img {
        margin: 20px
    }
}